Final Deliverables/Final Code/flows (3) (3).json
[{"id":"e106f6f8a7444ca8","type":"tab","label":"Smart solutions for Railways","disabled":false,"info":"","env":[]},{"id":"7c9ab446140bf064","type":"ui_dropdown","z":"e106f6f8a7444ca8","name":"","label":"Boarding","tooltip":"","place":"Select option","group":"cc67524cc4158d74","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Chengalpattu","value":"Chengalpattu","type":"str"},{"label":"Chennai beach","value":"Chennai beach","type":"str"},{"label":"Purungalattur","value":"Purungalattur","type":"str"},{"label":"Tambaram","value":"Tambaram","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":120,"y":940,"wires":[["69dccfdda3d41509"]]},{"id":"aa67e723d920266f","type":"ui_dropdown","z":"e106f6f8a7444ca8","name":"","label":"Destination","tooltip":"","place":"Select option","group":"cc67524cc4158d74","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Chengalpattu","value":"Chengalpattu","type":"str"},{"label":"Chennai beach","value":"Chennai beach","type":"str"},{"label":"Perungalattur","value":"perungalattur","type":"str"},{"label":"Mumbai","value":"Mumbai","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":130,"y":1020,"wires":[["f326aff97a901ee6"]]},{"id":"69dccfdda3d41509","type":"function","z":"e106f6f8a7444ca8","name":"","func":"global.set('b',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":940,"wires":[[]]},{"id":"f326aff97a901ee6","type":"function","z":"e106f6f8a7444ca8","name":"","func":"global.set('d',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1020,"wires":[[]]},{"id":"d9a9bf7741ab6804","type":"ui_form","z":"e106f6f8a7444ca8","name":"","label":"","group":"cc67524cc4158d74","order":5,"width":0,"height":0,"options":[{"label":"Name ","value":"name","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Mobile num","value":"num","type":"number","required":true,"rows":null}],"formValue":{"name":"","age":"","num":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":800,"wires":[["ae61a45b35f8e3ae","e6e8d9e04f86cef7","ebcb055b3d16a2a4"]]},{"id":"0ea100fc261559f8","type":"ui_button","z":"e106f6f8a7444ca8","name":"","group":"cc67524cc4158d74","order":6,"width":0,"height":0,"passthru":false,"label":"clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":860,"wires":[["9ebb2ef836afb39c"]]},{"id":"9ebb2ef836afb39c","type":"function","z":"e106f6f8a7444ca8","name":"","func":"global.set('s1',0)\nglobal.set('s2',0)\nglobal.set('s3',0)\nglobal.set('s4',0)\nglobal.set('s5',0)\nvar a1=[1,2,3,4,5]\nglobal.set('a',a1)\nmsg.payload = global.get('a')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":860,"wires":[["80cbdbe964488ff4"]]},{"id":"80cbdbe964488ff4","type":"function","z":"e106f6f8a7444ca8","name":"","func":"var a = global.get('a')\nvar s = []\nfor(let i=0;i<a.length;i++){\n    s.push(a[i])\n}\nif(s.length==0){\n    msg.options=[{\"No seats available\":0}]\n}\nelse{\n    msg.options= s\n}\nmsg.payload= s\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":820,"wires":[["37d89ee23edbacba"]]},{"id":"ae61a45b35f8e3ae","type":"delay","z":"e106f6f8a7444ca8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":800,"wires":[["80cbdbe964488ff4"]]},{"id":"93a8ead5216fd302","type":"function","z":"e106f6f8a7444ca8","name":"","func":"global.set('s',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":820,"wires":[[]]},{"id":"37d89ee23edbacba","type":"ui_dropdown","z":"e106f6f8a7444ca8","name":"","label":"Seat availability","tooltip":"","place":"Select option","group":"cc67524cc4158d74","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"},{"label":"4","value":"4","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":620,"y":820,"wires":[["93a8ead5216fd302"]]},{"id":"ebcb055b3d16a2a4","type":"function","z":"e106f6f8a7444ca8","name":"m seat","func":"global.set('m',msg.payload)\nvar a=global.get('s')\nif(a==1 || a==2 || a==3 || a==4 ||a==5){\n    msg.payload=0\n}\nelse{\n    msg.payload=1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":680,"wires":[["3f9ab3cca7fe9537"]]},{"id":"e6e8d9e04f86cef7","type":"function","z":"e106f6f8a7444ca8","name":"","func":"var s=global.get('s')\nvar a=global.get('a')\nfunction reg(x){\n    for(let i=0;i<a.length;i++){\n        if(a[i]==x){\n            a.splice(i,1)\n        }\n    }\n}\nif(s==1){\n    global.set('s1',s)\n    reg(s)\n}\nelse if(s==2){\n    global.set('s2',s)\n    reg(s)\n}\nelse if(s==3){\n    global.set('s3',s)\n    reg(s)\n}\nelse if(s==4){\n    global.set('s4',s)\n    reg(s)\n}\nelse if(s==4){\n    global.set('s4',s)\n    reg(s)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":740,"wires":[["d52e0e6d85ba9b2d"]]},{"id":"3f9ab3cca7fe9537","type":"switch","z":"e106f6f8a7444ca8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":680,"wires":[["8913ee2075f7be88"],["124b0454f54ba07c"]]},{"id":"124b0454f54ba07c","type":"function","z":"e106f6f8a7444ca8","name":"","func":"msg.payload=\"ticket  cannot be booked\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":680,"wires":[["ab47a1f8f9f10739"]]},{"id":"ab47a1f8f9f10739","type":"ui_toast","z":"e106f6f8a7444ca8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":770,"y":680,"wires":[]},{"id":"c9af74262b74252b","type":"ui_toast","z":"e106f6f8a7444ca8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":750,"y":500,"wires":[[]]},{"id":"d52e0e6d85ba9b2d","type":"debug","z":"e106f6f8a7444ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":740,"wires":[]},{"id":"7a7a4561057eb220","type":"function","z":"e106f6f8a7444ca8","name":"","func":"msg.payload=\"ticket cannot be booked\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":520,"wires":[["c9af74262b74252b"]]},{"id":"2f54bdb5e27e5adb","type":"ui_toast","z":"e106f6f8a7444ca8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":510,"y":600,"wires":[[]]},{"id":"8913ee2075f7be88","type":"function","z":"e106f6f8a7444ca8","name":"Payment","func":"msg.payload=\"Make payment\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":600,"wires":[["2f54bdb5e27e5adb"]]},{"id":"b22520b64eef4442","type":"switch","z":"e106f6f8a7444ca8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":500,"wires":[["3519ec7bcca0ee3e"],["7a7a4561057eb220"]]},{"id":"2cf56749152884ad","type":"function","z":"e106f6f8a7444ca8","name":"m seat","func":"\nvar a=global.get('s')\nif(a==1 || a==2 || a==3 || a==4 ||a==5){\n    msg.payload=0\n}\nelse{\n    msg.payload=1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":500,"wires":[["b22520b64eef4442"]]},{"id":"ad41f872abdd82ce","type":"function","z":"e106f6f8a7444ca8","name":"","func":"msg.payload=\"payment successfull\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":420,"wires":[["4afa9584bcc2eb5f"]]},{"id":"4afa9584bcc2eb5f","type":"ui_toast","z":"e106f6f8a7444ca8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":610,"y":420,"wires":[]},{"id":"3519ec7bcca0ee3e","type":"function","z":"e106f6f8a7444ca8","name":"Database storage","func":"var m=global.get('m')\nvar d=new Date();\nvar utc=d.getTime()+(d.getTimezoneOffset()*60000);\nvar offset=5.5;\nnewDate=new Date(utc+(3600000*offset));\nvar n=newDate.toISOString()\nvar date=n.slice(0,10)\nvar time=n.slice(11,19)\nvar d1=date+','+time\nmsg.payload={\n    \"_id\":d1,\n    \"Name\":m.name,\n    \"Age\":m.age,\n    \"Mobile\":m.num,\n    \"boarding\":global.get('b'),\n    \"destination\":global.get('d'),\n    \"Seat\":global.get('s'),\n    \"Train selection\":global.get('t')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":340,"wires":[["f438ef430dd40b73","196c69bd1f1e86f8"]]},{"id":"196c69bd1f1e86f8","type":"function","z":"e106f6f8a7444ca8","name":"QRcode","func":"msg.qrcodeinput = msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":340,"wires":[["41320cc007b092ad","34383faf508c2019"]]},{"id":"f438ef430dd40b73","type":"cloudant out","z":"e106f6f8a7444ca8","name":"booking","cloudant":"","database":"booking","service":"node-red-bboor-2022--cloudant-1667923604410-26481","payonly":true,"operation":"insert","x":140,"y":260,"wires":[]},{"id":"41320cc007b092ad","type":"debug","z":"e106f6f8a7444ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":340,"wires":[]},{"id":"34383faf508c2019","type":"qrcode-generator","z":"e106f6f8a7444ca8","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":false,"x":330,"y":220,"wires":[["03f10b61839a677f","08822a26ef45b387","57c80c1c2c1f87bc"]]},{"id":"03f10b61839a677f","type":"function","z":"e106f6f8a7444ca8","name":"","func":"msg.payload=\"ticket is generated\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":60,"wires":[["747166a79de666d7"]]},{"id":"08822a26ef45b387","type":"delay","z":"e106f6f8a7444ca8","name":"","pauseType":"delay","timeout":"21","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":520,"y":220,"wires":[["1c79beb6ef115792"]]},{"id":"1c79beb6ef115792","type":"function","z":"e106f6f8a7444ca8","name":"empty data","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":220,"wires":[["57c80c1c2c1f87bc"]]},{"id":"747166a79de666d7","type":"ui_toast","z":"e106f6f8a7444ca8","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":710,"y":60,"wires":[]},{"id":"2abcda3ec9530d68","type":"ibmiot in","z":"e106f6f8a7444ca8","authentication":"apiKey","apiKey":"fae89520eab50022","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":1160,"wires":[["833946aa7ef65319","0a2351c8230dfade"]]},{"id":"833946aa7ef65319","type":"debug","z":"e106f6f8a7444ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":1160,"wires":[]},{"id":"57c80c1c2c1f87bc","type":"ui_template","z":"e106f6f8a7444ca8","group":"760d70f4e3138994","name":"","order":2,"width":"6","height":"6","format":"<img src={{msg.payload}} />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":520,"y":120,"wires":[[]]},{"id":"05b4556894886edb","type":"ui_form","z":"e106f6f8a7444ca8","name":"","label":"","group":"760d70f4e3138994","order":6,"width":"4","height":"4","options":[{"label":"Card name ","value":"name","type":"text","required":false,"rows":null},{"label":"Card number","value":"number","type":"number","required":false,"rows":null},{"label":"CVV","value":"cvv","type":"number","required":false,"rows":null},{"label":"Google pay","value":"upi id","type":"email","required":false,"rows":null},{"label":"phone pay","value":"upi id","type":"email","required":false,"rows":null}],"formValue":{"name":"","number":"","cvv":"","upi id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":130,"y":420,"wires":[["2cf56749152884ad","ad41f872abdd82ce"]]},{"id":"6c0dc47586281861","type":"ui_dropdown","z":"e106f6f8a7444ca8","name":"","label":"Select train","tooltip":"","place":"Select option","group":"cc67524cc4158d74","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Beach Fast","value":"chennai fast","type":"str"},{"label":"Puducherry passengers","value":"puducherry","type":"str"},{"label":"Tirumalpur-chennai beach","value":"tirumalpur","type":"str"},{"label":"semi Fast","value":"beach fast","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":130,"y":1100,"wires":[["9d877e18f5eb9abe"]]},{"id":"9d877e18f5eb9abe","type":"function","z":"e106f6f8a7444ca8","name":"","func":"global.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1100,"wires":[[]]},{"id":"0a2351c8230dfade","type":"worldmap","z":"e106f6f8a7444ca8","name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":280,"y":1220,"wires":[]},{"id":"cc67524cc4158d74","type":"ui_group","name":"Choose train","tab":"87ce50e0e7f393eb","order":2,"disp":true,"width":"6","collapse":false},{"id":"fae89520eab50022","type":"ibmiot","name":"gps tracker","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"760d70f4e3138994","type":"ui_group","name":"pay","tab":"440cab54574f31c0","order":2,"disp":true,"width":"6","collapse":false},{"id":"87ce50e0e7f393eb","type":"ui_tab","name":"Booking trains","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"440cab54574f31c0","type":"ui_tab","name":"Payment","icon":"dashboard","order":3,"disabled":false,"hidden":false}]